Source: albert
Maintainer: Manuel Schneider <manuelschneid3r@gmail.com>
Section: utils
Priority: optional
Standards-Version: 4.1.0
# libgl1-mesa-dev libglvnd-dev see https://forum.qt.io/topic/121929/qt6-android-cmake-project-fails-at-start-failed-to-find-qt-component-core-config-file-at/9
Build-Depends:
    cmake (>=3.19),
    debhelper (>=10),
    libarchive-dev,
    libgl1-mesa-dev,
    libglvnd-dev,
    libmuparser-dev (>=2),
    libqalculate-dev,
    libqt6opengl6-dev,
    libqt6svg6-dev,
    lsb-release,
    pkg-config | pkgconf,
    pybind11-dev,
    python3-dev (>=3.7),
    qt6-base-dev,
    qt6-declarative-dev,
    qt6-l10n-tools,
    qt6-scxml-dev,
    qt6-tools-dev,
    qt6-tools-dev-tools
Homepage: https://albertlauncher.github.io/
Vcs-Browser: https://github.com/albertlauncher
Vcs-Git: https://github.com/albertlauncher/albert.git

Package: albert
Architecture: any
Depends:
 ${shlibs:Depends},
 libqt6sql6-sqlite,
 python3-pip,
 qml6-module-qt5compat-graphicaleffects,
 qml6-module-qtqml-statemachine,
 qml6-module-qtqml-workerscript,
 qml6-module-qtquick-shapes,
 qml6-module-qtquick-window,
 qt6-qpa-plugins,
 qt6-wayland
Recommends:
 libqalculate22,
 libmuparser2v5
Description: Plugin-based C++/Qt keyboard launcher
 Albert is a desktop agnostic keyboard launcher that helps you to accomplish your workflows in a breeze.


